<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 text-align-center">
        <h1>Boris Borisov</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 text-align-center">
        <p>Sofia, Bulgaria</p>
      </div>
      <div class="col-sm-4 text-align-center">
        <p>Software Engineer</p>
      </div>
      <div class="col-sm-4 text-align-center">
        <a href="mailto:boris.r.borisov@gmail.com">boris.r.borisov@gmail.com</a>
      </div>
    </div>
  </div>
</header>
