<div class="container">
  <div [ngClass]="['text-align-center', 'grey']">
    <h3>Projects</h3>
  </div>

  <br/>

  <ul class="list-group">
    <li class="list-group-item" style="border: none"><a href="http://infinite-beach-54240.herokuapp.com/#/"><b>Weather</b></a></li>
    <li class="list-group-item" style="border: none"><a href="http://borisborisov.bg/user-accounts/"><b>User Accounts</b></a></li>
    <li class="list-group-item" style="border: none"><a href="http://borisborisov.bg/invoice-web/"><b>Invoice</b></a></li>
    <li class="list-group-item" style="border: none"><a href="http://borisborisov.bg/pressure-blood-web/"><b>Pressure Blood</b></a></li>
    <li class="list-group-item" style="border: none"><a href="http://borisborisov.bg/mathml.web/"><b>Processing MathML with Java</b></a></li>
  </ul>
</div>
