<div class="container">
  <div [ngClass]="['text-align-center', 'grey']">
    <h3>Abilities</h3>
  </div>

  <div class="text-underline">
    <i>Skills</i>
  </div>

  <br/>

  <table [ngClass]="['table', 'table-responsive', 'table-borderless', 'table-hover']">
    <tbody>
    <tr *ngFor="let skill of skills">
      <td><b>{{skill.name}}</b></td>
      <td *ngFor="let startColumn of starColumns; let i = index">
        <star [cell]="i" [rating]="skill.rating"></star>
      </td>
    </tr>
    </tbody>
  </table>
</div>
