<div class="col-sm-4">
  <!-- Linkedin -->
  <div class="text-align-center">
    <h2>Linkedin</h2>
    <a href="https://bg.linkedin.com/pub/borisov-boris/38/60/7b2">
      <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png"
           width="150px"
           height="21px"
           border="0"/>
    </a>
  </div>

  <!-- Github -->
  <div class="text-align-center">
    <h2>Github</h2>
    <a class="github-button"
       href="https://github.com/moisko"
       data-count-href="/moisko/followers"
       data-count-api="/users/moisko#followers"
       data-count-aria-label="# followers on GitHub"
       aria-label="Follow @moisko on GitHub">Follow @moisko</a>
  </div>

  <!-- CV -->
  <div class="text-align-center">
    <h2>CV</h2>
    <a class="btn btn-primary btn-xs" href="./assets/CV.pdf">
      <i class="fa fa-download"></i>
      Download my CV
    </a>
  </div>
</div>
