@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-theme.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

.text-align-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
  font-size: 1.5em;
}

.grey {
  color: grey;
}
